Include /etc/ssh/sshd_config.d/*.conf

PermitRootLogin no
PasswordAuthentication no

# Allow arbitrary owner and permissions for authorized_keys (since we copy it from a volume)
StrictModes no

# Allow TCP forwarding and specific GatewayPorts for reverse tunnels (-R)
AllowTcpForwarding yes
GatewayPorts clientspecified

# Add KeepAlive settings to clean up dead connections (crucial for `autossh` reliability)
ClientAliveInterval 15
ClientAliveCountMax 3

# Limit the SSH session capabilities for security hardening
X11Forwarding no
PermitTTY no
AllowAgentForwarding no
ForceCommand /sbin/nologin
